<h2>My future appointments</h2>


<table class="table">
  <thead>
  <tr>
    <th scope="col">Doctor name</th>
    <th scope="col">Date</th>
    <th scope="col">Start time</th>
    <th scope="col">End time</th>
    <th scope="col">Show</th>
    <th scope="col">Edit</th>
    <th scope="col">Destroy</th>
  </tr>
  </thead>

  <tbody>
  <% @future_appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.doctor.name %></td>
      <td><%= appointment.start_time.strftime('%F') %></td>
      <td><%= appointment.start_time.strftime('%H:%M') %></td>
      <td><%= appointment.end_time.strftime('%H:%M') %></td>
      <td><%= link_to 'Show', appointment, :class => 'btn btn-outline-secondary' %></td>
      <td><%= link_to 'Edit', edit_appointment_path(appointment), :class => 'btn btn-outline-secondary' %></td>
      <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', user_cabinet_index_path, :class => 'btn btn-outline-primary' %>
